 <!--Bottom Footer-->
 <div id="top-header">
    <div class="container">
        <li><a href="#"><i class="fa fa-phone"></i> +3361045908</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> contact&#64;edidebs.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 44 GRANDE RUE 10190 AIX-VILLEMAUR-PALIS</a></li>
        <li><a href="#"><i class="fa fa-euro"></i> EURO</a></li>
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
        

    </div>
</div>
