<!-- HEADER-->
<header>
   

    <!--Main header-->
    <div class="navbar">
        <div class=" navbar align-item-center d-flex">
            <img class="picture" src="http://localhost:8085/images/Logo_bg_transparent_small.png">
        <strong style="font-size: 30px; color: white;">PARK AUTO</strong>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="search vehicule">
        </div>
        <span class="fas fa-search search-icon"></span>
        </div>

        <button routerLink="" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">1</div>
        </button>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/vehicule">Home</a>
        </h5>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </h5>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
        </h5>
    </div>
</header>
